<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Kerberos Example</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h1 th:inline="text">[[${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}]]</h1>
<h1 th:inline="text">Remote Kerberised Service Output: [[${output}]]</h1>
<h1 th:inline="text">Remote Kerberised Service Call time: [[${outputMillis}]]ms</h1>
</body>
</html>
